.header.main {
    background: white;
    color: #FA0F00;
}

.header .container {
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
    position: relative;
}

.header.main img {
    height: 20px;
    position: relative;
    padding-right: 8px;
    vertical-align: middle;
}
.header .nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .nav-container p {
    /*display: inline-block;*/
}
.header .nav-container p:nth-child(2) {
   margin-left: auto;
}

.header .nav-container a {
    color: #212121;
    text-decoration: none;
    padding: 0 8px;
    font-size: 14px;
}
.header .nav-container a:hover {
    color: #000000;
}
.footer.main {
    background: #ffffff;
    border-top: 1px solid #cccccc;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    max-width: var(--grid-desktop-container-width);
    padding: 24px;
    justify-content: center;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .footer-group {
    margin: 12px;
}
.footer .footer-section a {
    color: #7e7e7e;
    text-decoration: none;
}
.footer .footer-section h2 {
    color: #818181;
    margin: 0 0 8px;
    font-size: 18px;
}

.footer .footer-section ul {
    margin: 0;
}

/* tablet */
@media screen and (min-width: 768px) {
    .footer.main {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}
@media screen and (min-width: 1440px) {
    .header .container {
        /*max-width: 1440px;*/
        max-width: var(--grid-desktop-container-width);
    }
}
