.merch {
    position: relative;
    padding: var(--spacing-m) 0 var(--spacing-m) 0;
    background: black;
}
.merch.is-Loaded {
    display: block;
    opacity: 1;
}

.merch .ribbon img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.merch .ribbon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 25px;
}

.merch .title {
    color: #ffffff;
    text-align: center;
    padding: 24px 0;
}

.merch .container {
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
    position: relative;
}

.merch .products {
    display: flex;
    flex-direction: column;
}


.merch .product-wrapper {
    background: #ffffff;
    padding: var(--spacing-s);
    border-radius: 12px;
    margin-bottom: 24px;
}

.merch .footer {
    padding: var(--spacing-m) 0;
    color: #ffffff;
    text-align: center;
}

.merch .footer a {
    text-decoration: underline;
    color: #ffffff;
}

/*
 .outro
 .light
 .gray
 */

.merch.light {
    background: white;
}
.merch.light .title {
    color: black;
}
.merch.gray {
    background: #f5f5f5;
}
.merch.gray .ribbon {
    display: none;
}
.merch.gray .title {
    color: #666666;
}
.merch.light .footer,
.merch.gray .footer {
    color: black;
}

.merch.light .footer a,
.merch.gray .footer a {
    color: black;
}
.merch.light .product-wrapper,
.merch.gray .product-wrapper {
    border-color: #cccccc;
}

/*
Product wrapper
*/
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #000000;
    width: 100%;
    position: relative;
}

.product-wrapper.has-badge {
    border-color: #ffd500;
}

/*product contents*/
.product-wrapper > .inline-icon,
.product-wrapper > .inline-label {
    margin: 0;
}
.product-wrapper > .inline-icon {
    margin-right: 12px;
}
.product-wrapper > .inline-label {
    font-size: 18px;
}
.product-wrapper > .label {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.product-wrapper > .price {
    display: block;
    padding: 0;
    margin: 12px 0 0;
    font-size: 22px; font-weight: 400;
    width: 100%;
}
.product-wrapper > .desc {
    margin: 12px 0 0;
}
.product-wrapper > .desc a{
    color: var(--spectrum-blue);
    transition: color 0.2s ease-in-out;
}
.product-wrapper > .cta {
    margin: 24px 0 0;
    padding: 24px 0 0;
    border-top: 1px solid #eaeaea;
    flex: 1 1 100%;
    text-align: right;
}

.product-wrapper > .badge {
    position: absolute;
    top: 12px;
    right: 0;
    padding: 4px 8px;
    border-radius: 4px 0 0 4px;
    background: #ffd500;
    color: black;
    margin: 0;
}


/* tablet */
@media screen and (min-width: 768px) {
    .merch .products {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 24px;
    }

    .product-wrapper {
        width: 33%;
    }
}

@media screen and (min-width: 1440px) {
    .merch .container {
        max-width: var(--grid-desktop-container-width);
    }
}
