.merch {
    position: relative;
    padding: var(--spacing-m) 0 var(--spacing-m) 0;
}

.merch.is-Loaded {
    display: block;
    opacity: 1;
}

.merch .ribbon img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.merch .ribbon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 25px;
}

.merch .title {
    color: #ffffff;
    text-align: center;
    padding: 24px 0;
}

.merch .container {
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
}

.merch .container {
    position: relative;
}

.merch .products {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .merch .products {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .merch .container {
        max-width: var(--grid-desktop-container-width);
    }
}

.merch .product-wrapper {
    background: #ffffff;
    padding: var(--spacing-m);
    border-radius: 12px;
    margin-bottom: 24px;
}

.merch .footer {
    padding-top: var(--spacing-m);
    color: #ffffff;
    text-align: center;
}

.merch .footer a {
    color: var(--spectrum-blue);
    transition: color 0.2s ease-in-out;
}
.merch .footer a:hover {
    color: deeppink;
}

/*
Product wrapper
*/
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.product-wrapper a {
    color: var(--spectrum-blue);
    transition: color 0.2s ease-in-out;
}
.product-wrapper a:hover {
    color: deeppink;
}
.product-wrapper > :nth-child(1) {
    margin-right: 16px;
}
.product-wrapper > :nth-child(3) {
    flex: 1 1 100%;
    padding: 0;
    margin: 0;
    font-size: 22px; font-weight: 400;
}
.product-wrapper > :nth-child(5) {
    flex: 1 1 100%;
    text-align: right;
}
.product-wrapper > :nth-child(5) a {

    background: var(--spectrum-blue);
    border-color: var(--spectrum-blue);
    text-decoration: none;
    color: white;
    position: relative;

    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    min-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 4px 14px;
    padding-bottom: 4.5px;
    padding-top: 3.5px;
    font-size: 14px;
    font-weight: 700;
}

.product-wrapper > :nth-child(5) a:after {
    content: '';
    position: absolute;
    border-radius: 24px;
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.product-wrapper > :nth-child(5) a:hover:after {
    opacity: 1;
}
