.tabs {
    position: relative;
    margin: var(--spacing-m) 0 var(--spacing-m) 0;
    opacity: 0;
}

.tabs.is-Loaded {
    display: block;
    opacity: 1;
}

.tabs .tabListBg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.tabs .tabListBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 48px;
    display: none;
}

.tabs .title {
    color: #585858;
    text-align: center;
}

.tabs .container {
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
    position: relative;
}

.tabs .list-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.tabs .list-container:before {
    content: '';
    background: #d8d8d8;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 48px;
    z-index: -1;
}
.tabs .tab-content {
    padding: 16px;
    border-bottom: 1px solid #d8d8d8;
    display: none;
    width: 100%;
}
.radiotab {
    position: absolute;
    opacity: 0;
}

.label {
    padding: 16px;
    line-height: 16px;
    font-size: 16px;
    cursor: pointer;
    color: #7e7e7e;
    width: 100%;
    float: left;
    border: 1px solid transparent;
}
.label:first-of-type{
    margin-left: 0;
}

.label:active {
    background: #eeeeee;
}

.radiotab:checked + .label {
    background: white;
    color: #000000;
}

.radiotab:checked + .label + .tab-content {
    display: block;
}

@media (min-width: 600px) {
    .tabs .tab-content {
        order: 99;
    }
    .label {
        width: auto;
        border-radius: 4px 4px 0 0;
        margin-left: -1px;
    }
    .radiotab:checked + .label {
        border-color: #d8d8d8 #d8d8d8 transparent;
    }
    .tabs .tabListBg {
        display: block;
    }

}

@media screen and (min-width: 1440px) {

    .label {
        padding: 24px 32px 18px;
        line-height: 18px;
        font-size: 18px;
    }
    .tabs .tabListBg {
        height: 60px;
    }
    .tabs .tab-content {
        padding: 24px 32px 18px;
    }


    .tabs .list-container:before {
        top: 60px;
    }
    .tabs .container {
        max-width: var(--grid-desktop-container-width);
    }
}

.tabs .footer {
    padding-top: var(--spacing-m);
    color: #ffffff;
    text-align: center;
}


.tabs.dark {
    background: #000000;
}
.tabs.dark .title {
    color: #cfcfcf;
}
.tabs.dark .label {
    border: 1px solid #515151;
}
.tabs.dark .radiotab:checked + .label {
    color: white;
    background: #000000;
    border-bottom-color: transparent;
}
.tabs.dark .list-container:before {
    background: #515151;
}
