.tabs {
    position: relative;
    margin: var(--spacing-m) 0 var(--spacing-m) 0;
    opacity: 0;
}

.tabs.is-Loaded {
    display: block;
    opacity: 1;
}

.tabs .tabListBg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.tabs .tabListBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 41px;
    display: none;
}

.tabs .title {
    color: #585858;
    text-align: center;
}

.tabs .container {
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
}

.tabs .container {
    position: relative;
}

.tabs .list-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.tabs .list-container:before {
    content: '';
    background: #d8d8d8;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 41px;
    z-index: -1;
}
.tabs .tab-content {
    padding: 18px;
    border-bottom: 1px solid #d8d8d8;
}
.radiotab {
    position: absolute;
    opacity: 0;
}

.label {
    padding: 4px 18px 0;
    cursor: pointer;
    color: #7e7e7e;
    width: 100%;
    float: left;
    height: 36px;
    line-height: 36px;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 0 0;
    margin-left: -1px;
}
.label:first-of-type{
    margin-left: 0;
}

.label:active {
    background: #eeeeee;
}

.tab-content {
    display: none;
    width: 100%;
    /*position: absolute;*/
    /*top: 44px;*/
}

.radiotab:checked + .label {
    background: white;
    color: #000000;
}

.radiotab:checked + .label + .tab-content {
    display: block;
}

@media (min-width: 600px) {
    .tab-content {
        order: 99;
    }
    .label {
        width: auto;
    }
    .radiotab:checked + .label {
        border-bottom-color: transparent;
    }
    .tabs .tabListBg {
        display: block;
    }

}
@media screen and (min-width: 1440px) {
    .tabs .container {
        max-width: var(--grid-desktop-container-width);
    }
}

.tabs .footer {
    padding-top: var(--spacing-m);
    color: #ffffff;
    text-align: center;
}
