.z-pattern {
    position: relative;
    padding: var(--spacing-l) 0 var(--spacing-l) 0;
}

.z-pattern.is-Loaded {
    display: block;
}

.z-pattern .container {
    position: relative;
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
}


.z-pattern .river-flow {
    background: #ffffff;
}
.z-pattern .flow-content {
    background: #eeeeee;
    margin: 24px 0;
}

@media screen and (min-width: 1440px) {
    .z-pattern .container {
        max-width: var(--grid-desktop-container-width);
    }
}
