.aside {
    position: relative;
}

.aside .container {
    position: relative;
    max-width: var(--grid-mobile-container-width);
    margin: 0 auto;
    padding: 80px 0;
}

.aside.is-Loaded {
    display: block;
}

.aside .background img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.aside .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.aside .container .text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.aside .container .text > * {
    width: 100%;
}

.aside .container .text p:first-of-type {
    font-size: var(--type-detail-m-size);
    text-transform: var(--type-detail-m-transform);
    line-height: var(--type-detail-m-lh);
    font-weight: var(--type-detail-all-weight);
    margin: 0 0 var(--spacing-s) 0;
}

.aside .container .text h1 {
    font-size: var(--type-heading-xl-size);
    line-height: var(--type-heading-xl-lh);
    font-weight: var(--type-heading-all-weight);
    margin: 0 0 var(--spacing-s) 0;
}

.aside .container .text h1 + p {
    font-size: var(--type-body-m-size);
    line-height: var(--type-body-m-lh);
    margin: 0 0 var(--spacing-m) 0;
}

.aside .container .text h1 + p + p {
    margin: 0;
}

.aside .container .image {
    margin-top: 40px;
}

.aside.simple .container .image {
    margin-top: 0;
}

.aside .container div {
    flex: 1 1 auto;
}

.aside .container img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.aside.split .container img {
    object-fit: cover;
}

@media screen and (min-width: 600px) {
    .aside {
        padding: 0;
    }

    .aside .container {
        min-height: 420px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
    }

    .aside .container .image {
        margin-top: 0;
    }

    .aside .container .text,
    .aside .container .image {
        flex: 0 1 auto;
    }
    .aside .container .text {
        width: var(--grid-column-6-width);
    }

    .aside .container .image {
        width: var(--grid-column-6-width);
    }

    .aside.split .container .text {
        width: var(--grid-column-5-width);
        background-color: black;
        color: white;
        padding-left: 40px;
        padding-right: 40px;
    }

    .aside.split .container .image {
        width: var(--grid-column-7-width);
    }
}

@media screen and (min-width: 1200px) {
    .aside .container .text {
        width: var(--grid-column-5-width);
    }

    .aside .container .image {
        width: var(--grid-column-5-width);
    }
}

@media screen and (min-width: 1440px) {
    .aside .container {
        max-width: var(--grid-desktop-container-width);
    }
}
