/*
product
*/

.product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid transparent;
    position: relative;
}

/*product contents*/
.product > .inline-icon,
.product > .inline-label {
    margin: 0;
}

.product h1,
.product h2,
.product h3,
.product h4,
.product h5,
.product h6 {
    margin: 0;
}

.product > .inline-icon {
    margin-right: 12px;
}
.product > .inline-label :is(h1, h2, h3, h4, h5, h6) {
    font-size: 18px;
}
.product > .label {
    display: block;
    padding: 0;
    margin: 0;
}
.product > .label :is(h1, h2, h3, h4, h5, h6) {
    font-size: 18px; font-weight: 700;
}
/*prevent title/label overflow*/
.product.has-badge > .label {
    margin-right: 60px;
}
.product > .price {
    display: block;
    padding: 0;
    margin: 12px 0 0;
    width: 100%;
}
.product > .price :is(h1, h2, h3, h4, h5, h6) {
    font-size: 18px; font-weight: 400;
}
.product > .desc {
    margin: 12px 0 0;
    font-size: 14px; font-weight: 400;
}
.product > .desc a{
    color: var(--spectrum-blue);
    text-decoration: none;
}
.product > .desc a:hover{
    text-decoration: underline;
}
.product > .cta {
    margin: var(--spacing-m) 0 0;
    padding: var(--spacing-m) 0 0;
    border-top: 1px solid #eaeaea;
    flex: 1 1 100%;
}
.product > .cta > .cta-wrap {
    display: flex;
    justify-content: flex-end;
}
.product > .cta p{
    margin: 0;
}
.product > .badge {
    position: absolute;
    top: 12px;
    right: 0;
    padding: 4px 8px;
    border-radius: 4px 0 0 4px;
    background: #EDCC2D;
    color: black;
    margin: 0;
    font-size: 13px;
}
.product > .badge.badge-dark {
    background: black;
    color: white;
}
